<header class="bg-gray-800 text-gray-100 shadow-md">
  <div class="container mx-auto flex justify-between items-center py-4 px-6">
    <h1 class="text-xl font-semibold">多機能掲示板</h1>
    <nav>
      <ul class="flex space-x-6">
        <%= link_to '新規投稿', new_post_path, class: "hover:text-blue-300 transition-colors duration-300" %>
        <%= link_to '投稿一覧', posts_path, class: "hover:text-blue-300 transition-colors duration-300" %>
        <%= link_to 'ログアウト', logout_path, class: "hover:text-blue-300 transition-colors duration-300", data: { turbo_method: :delete } %>
      </ul>
    </nav>
  </div>
</header>
