<div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg overflow-hidden">
  <%= render 'posts/post', post: @post, show_detail_link: true %>

  <%= render 'comments/form', comment: @comment, post: @post %>

  <%= render @comments %>
</div>
